<div class="text-center mt-5">
  <div id="complete-wrap">
    <div class="complete_txt">
      <h4>注文完了</h4>
      <p>ご購入ありがとうございました。<br>またのご利用を、心よりお待ちしております！</p>
      <p><%= link_to "トップページへ戻る", root_path, class: 'text-primary' %></p>
    </div>
    <div class="balls">
      <div class="ball ball-red"></div>
      <div class="ball ball-blue"></div>
      <div class="ball ball-red"></div>
      <div class="ball ball-blue"></div>
      <div class="ball ball-red"></div>
    </div>
  </div>
</div>